.demo3-wrapper {
    .group-card.highlight-title {
        ._djfb_grid-group-title {
            color: white;
            background-color: purple;
        }
    }

    .high-area {
        margin-top: 1em;
        background-color: #ddd;
        padding: 8em 1em;
    }
}
